[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
scipy = ">=0.17"
numpy= ">=1.11"
scikit = "*"
scikit-learn-intelex = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
